<h2>My Champions List</h2>
<ul class="champions">
    <li *ngFor="let champ of champions"
    [class.selected]="champ === selectedChamp"
    (click)="onSelect(champ)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<div *ngIf="selectedChamp">
    <h2>{{selectedChamp.name}} Details</h2>
    <div><span>id: </span>{{selectedChamp.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedChamp.name" placeholder="name"/>
      </label>
    </div>
  
  </div>